@import url("../styles/values.css");
@import url("../styles/header.css");
@import url("../styles/footer.css");

* {
  font-family: MergeLight;
  padding: 0;
  margin: 0;
  scroll-margin-top: 120px;
}


body {
  height: 100%;
  min-height: 100%;
  /*background: -webkit-linear-gradient(var(--semi-black), black);
    background: -o-linear-gradient(var(--semi-black), black);
    background: -moz-linear-gradient(var(--semi-black), black);
    background: linear-gradient(var(--semi-black), black);*/
  margin: 20px;
  position: relative;
  display: flex;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  flex-direction: column;
}

#page {
  display: flex;
  position: relative;
  flex-direction: row;
  z-index: 5;
}

#sidebar {
  display: flex;
  position: sticky;
  top: 120px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 8;
  height: fit-content;
  max-height: calc(30vh);
  margin-left: 8px;
  margin-right: 8px;
  max-width: calc(30vh);
  min-width: calc(8vh);
  overflow: auto;
  background-color: black;
  /* box-shadow: 0 5px 5px var(--purple); */
  border-radius: 30px;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 30px;
}

#sidebar::-webkit-scrollbar {
  width: 7px;
}

#sidebar::-webkit-scrollbar-track {
  background: var(--semi-black);
}

#sidebar::-webkit-scrollbar-thumb {
  background: var(--purple);
}

#navbar li {
  margin-bottom: 10px;
  /* Espacio entre los elementos <li> */
  border-bottom: 1px solid white;
  /* Línea horizontal como separación visual */
  padding-bottom: 5px;
  /* Espacio adicional inferior para la línea */
}

a.nav {
  font-size: var(--small-font);
  color: white;
}

a.nav:hover::before {
  background-color: var(--purple);
}

a.nav:active {
  color: var(--purple);
}

#content {
  flex-grow: 1;
  margin-left: 10px;
  /* Ajusta el valor según el ancho de la barra de navegación */
}

section {
  margin: 40px 20px;
  max-width: calc(70vh);
}

section h1 {
  font-size: var(--big-font);
  color: white;
  text-shadow: 0 0 5px var(--purple), 0 0 10px var(--purple),
    0 0 20px var(--purple), 0 0 40px var(--purple), 0 0 80px var(--purple);
}

section p {
  font-size: var(--normal-font);
  color: white;
  padding-left: 10px;
}

@media only screen and (max-width: 580px) {
  #sidebar {
    display: none;
  }
}
