@import url('../styles/values.css');
@import url('../styles/header.css');
@import url('../styles/footer.css');

* {
    font-family: MergeLight;
    padding: 0;
    margin: 0;
    scroll-margin-top: 120px;
}

body {
    height: 100%;
    min-height: 100%;
    margin: 20px;
    position: relative;
    display: flex;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    flex-direction: column;
}

.gallery {
    position: relative;
    top: 10px;
    left: calc(3% + 10px);
    padding-right: 3%;
    display: inline-flex;
    width: 94%;
    height: 100%;
    gap: 5px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.gallery .boxes {
    width: 80%;
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;
    grid-gap: 9px;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    font-size: 100px;
}

.box {
    grid-column: span 1;
    grid-row: span 1;
    font-size: 100px;
}
