@import url('../styles/values.css');
@import url('../styles/header.css');
@import url('../styles/footer.css');

* {
    font-family: MergeLight;
    padding: 0;
    margin: 0;
    scroll-margin-top: 120px;
}

html {
    /*height: 200%;
    min-height: 200%; /*200 si footer*/
}

body {
    height: 100%;
    min-height: 100%;
    /*background: -webkit-linear-gradient(var(--semi-black), black);
    background: -o-linear-gradient(var(--semi-black), black);
    background: -moz-linear-gradient(var(--semi-black), black);
    background: linear-gradient(var(--semi-black), black);*/
    margin: 20px;
    position: relative;
    display: flex;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    flex-direction: column;
}

.contact {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}

.contact img {
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: auto;
    height: auto;
    max-width: 15%;
    max-height: 15%;
    min-width: 50px;
    min-height: 50px;
    object-fit: contain;
}

.contact .info {
    margin-left: 20px;
    flex-grow: 1;
    text-align: start;
    width: auto;
    max-width: 400px;
}

.contact h1 {
    font-size: var(--big-font);
    color: white;
    text-shadow:
        0 0 5px var(--purple),
        0 0 10px var(--purple),
        0 0 20px var(--purple),
        0 0 40px var(--purple),
        0 0 80px var(--purple);
    margin-bottom: 10px
}

.contact p {
    font-size: var(--normal-font);
    color: white;
    padding-left: 10px;

}
