@import url("../styles/values.css");
@import url("../styles/header.css");
@import url("../styles/footer.css");

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500%;
  max-width: 3000px;
}

table {
  border: 2px solid #d72483;
  /* Agregamos un borde sólido de 2 píxeles de ancho de color verde */
  border-collapse: collapse;
  /* Unimos los bordes adyacentes para crear una apariencia sólida */
}

th,
td {
  padding: 8px;
  /* Agregamos un relleno interno de 8 píxeles a todas las celdas de la tabla */
  text-align: left;
  /* Alineamos el texto a la izquierda */
  color: white;
  /* Hacemos que el color de fuente de todas las celdas sea blanco */
  font-family: Arial, Helvetica, sans-serif;
}

th {
  background-color: #d72483;
  /* Establecemos un color de fondo verde para las celdas de encabezado */
}

h1 {
  width: 400px;
  padding: 30px;
  margin: auto;
  margin-top: auto;
  color: white;
}

.buscar {
  width: 40%;
  margin-left: 1%;
  height: auto;
  cursor: pointer;
  color: #fff;
  font-size: 17px;
  border-radius: 2rem;
  border: none;
  position: relative;
  background-color: #d72483;
  transition: 0.1s;
}

.buscar::after {
  content: "";
  width: 100%;
  height: 100%;
  filter: blur(15px);
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
}

.buscar:active {
  background: black;
  transition: 0.5s;
}

.register-empl {
  width: 400px;
  padding: 30px;
  margin: auto;
  margin-bottom: auto;
}

.register-empl h1 {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: auto;
  text-align: center;
  color: white;
}

.controls {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-align: center;
}

.container {
  display: grid;
  justify-content: center;
}

.container-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 3%;
}

.botons {
  padding: 0.8em 1.3em;
  margin: 0 10px;
  border-radius: 20px;
  background-image: linear-gradient(
    45deg,
    #00ccaa 0%,
    #d72483 51%,
    #00ccaa 100%
  );
}

.botons {
  margin: 5px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
}

.botons:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.botons:active {
  transform: scale(0.95);
}
