@import url('../styles/values.css');
@import url('../styles/header.css');
@import url('../styles/footer.css');

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500%;
    max-width: 3000px;
}