@import url('../styles/values.css');
@import url('../styles/header.css');
@import url('../styles/footer.css');

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500%;
    max-width: 3000px;
}

h1 {
    width: 400px;
    padding: 30px;
    margin: auto;
    margin-top: auto;
}

#form-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-box { /*aka:register-empl,register-impl*/
    width: 400px;
    padding: 30px;
    margin: auto;
    margin-bottom: auto;
}

.form-box h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: auto;
    text-align: center;
    color: white;
}

.controls { /*aka:controlsimp*/
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
}

.dimensions {
    display:flex;
}

.dimension .controls {
    width: 30%;
}

.container {
    display: flex;
    justify-content: center;
}

.botons {
    padding: 0.80em 1.3em;
    margin: 0 10px;
    border-radius: 20px;
    background-image: linear-gradient(45deg, #faed27 0%, #d72483 51%, #7f2ccb 100%);
    margin: 5px;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px #f09819;
}

.botons:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.botons:active {
    transform: scale(0.95);
}


#doble-form{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.IDlabel {
    color: white;
    font-size: 20px;
    padding: 5px 5px;
}

#IDField {
  width: 200px;
  height: 40px;
  background-color: #2f2f2f;
  border-radius: 30px;
  border: 2px solid #292929;
  padding: 0px 12px;
  outline: none;
  caret-color: rgb(152, 88, 255);
  color: rgb(212, 212, 212);
  font-size: 20px;
  transition-duration: .2s;
}

#IDField:focus,
#IDField:valid {
    border: 2px solid rgb(152, 88, 255);
    transition-duration: .2s;
}

/* Dropdown */
.container3 {
    margin: 2% auto;
    text-align: center;
}

.container3 > .dropdown {
    margin: 0 20px;
    vertical-align: top;
}

.dropdown {
    display: inline-block;
    position: relative;
    overflow: hidden;
    height: 28px;
    width: 150px;
    background: #f2f2f2;
    border: 1px solid;
    border-color: white #f7f7f7 whitesmoke;
    border-radius: 3px;
    background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
    background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
    background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.06));
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
}

.dropdown:before, .dropdown:after {
    content: '';
    position: absolute;
    z-index: 5;
    top: 12px;
    right: 20px;
    width: 0;
    height: 0;
    border: 6px dashed;
    border-color: #888888 transparent;
    pointer-events: none;
}

.dropdown:before {
    border-bottom-style: solid;
    border-top: none;
}

.dropdown:after {
    margin-top: 7px;
    border-top-style: solid;
    border-bottom: none;
}

.element { /*aka:site*/
    position: relative;
    width: 130%;
    margin: 0;
    padding: 6px 8px 6px 10px;
    height: 28px;
    line-height: 14px;
    font-size: 12px;
    color: #62717a;
    text-shadow: 0 1px white;
    background: #f2f2f2; /* Fallback for IE 8 */
    background: rgba(0, 0, 0, 0) !important; /* "transparent" doesn't work with Opera */
    border: 0;
    border-radius: 0;
    appearance: none;
}

.element:focus {
    z-index: 3;
    width: 100%;
    color: #394349;
    outline: 2px solid #49aff2;
    outline: 2px solid -webkit-focus-ring-color;
    outline-offset: -2px;
}

.element > option {
    margin: 3px;
    padding: 6px 8px;
    text-shadow: none;
    background: #f2f2f2;
    border-radius: 3px;
    cursor: pointer;
}

/* Fix for IE 8 putting the arrows behind the select element. */

.lt-ie9 .dropdown {
    z-index: 1;
}

.lt-ie9 .element {
    z-index: -1;
}

.lt-ie9 .element:focus {
    z-index: 3;
}

/* Dirty fix for Firefox adding padding where it shouldn't. */

@-moz-document url-prefix() {
    .sitio {
        padding-left: 6px;
    }
}

.dropdown-dark {
    background: #444;
    border-color: #111111 #0a0a0a black;
    background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
    background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
    background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.4));
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
    width: 95%;
    padding: 5px;
    border-radius: 20px;
    margin: 10px 0px;
}

.dropdown-dark:before {
    border-bottom-color: #aaa;
}

.dropdown-dark:after {
    border-top-color: #aaa;
}

.dropdown-dark .element {
    color: #aaa;
    text-shadow: 0 1px black;
    background: #444;  /* Fallback for IE 8 */
}

.dropdown-dark .element:focus {
    color: #ccc;
}

.dropdown-dark .element > option {
    background: #444;
    text-shadow: 0 1px rgba(0, 0, 0, 0.4);
}
