@import url('../styles/values.css');
@import url('../styles/header.css');
@import url('../styles/footer.css');

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% 1% 6%;

}

.image {
    flex: 1;
    margin-right: 20px;
}

.image img {
    width: 30vw;
    height: auto;
    margin-left: 15vw;
    box-shadow: -20px 20px 50px rgba(255, 234, 0, 0.4);
}

.info-concierto {
    flex: 1;
    text-align: left;

}

.info-concierto h2 {
    font-size: 3vw;
    font-weight: bold;
    margin-bottom: 2%;
    color: #fff;
}

.info-concierto p {
    font-size: 100%;
    margin-bottom: 2%;
    color: #fff;
}

.info-concierto a.btn-checkin {
    display: inline-block;
    padding: 2vw 4vw;
    margin-top: 15%;
    margin-bottom: 2%;
    margin-right: 5%;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-size: 17px;
    border-radius: 1rem;
    border: none;
    position: relative;
    background: #000000;
    transition: 0.1s;
}

.info-concierto a.btn-checkin::after {
    content: '';
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgb(215, 36, 131) 17.8%, rgb(250, 237, 39) 100.2%);
    filter: blur(15px);
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
}

.info-concierto a.btn-checkin:active {
    transform: scale(0.9) rotate(3deg);
    background: radial-gradient(circle farthest-corner at 10% 20%, rgb(215, 36, 131) 17.8%, rgb(250, 237, 39) 100.2%);
    transition: 0.5s;
}

.nuevo-recuadro {
    background: linear-gradient(90deg, rgba(215, 36, 131, 0.6) 0%, rgb(250, 237, 39, 0.6) 100%);
    color: #fff;
    padding: 2vw;
    border-radius: 10px;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 20%;
    margin-right: 20%;
}

.contenido {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hora,
.ubicacion {
    width: 45vw;
}

.hora h3,
.ubicacion h3 {
    margin-top: 0;
    font-size: 2vw;
    font-weight: bold;
}

.hora p,
.ubicacion p {
    font-size: 1.7vw;
}


/* Estilos para la ventana modal */
.modal {
  display: none;
  position: fixed;
  z-index: 30;
  left: 0;
  top: 0;
  width: 100%;
  height: 200%;
  font-size: 30px;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.807);
}

.modal-content {
  background-color:#232323 ;
  margin: 10% auto;
  padding: 20px;
  max-width: 80%;
  width: 350px;
  border-radius: 15px;
  color: #fff;
  box-shadow: 0px 5px 20px rgb(64, 64, 64);
  justify-content: center;
}

.modal h2{
  font-size: 30px;
  margin-bottom: 35px;
}

.Registrolabel {

  color: white;
  font-size: 20px;
  padding: 5px 5px;
}

#RegistroField {
  width: 200px;
  height: 40px;
  background-color: #2f2f2f;
  border-radius: 30px;
  border: 2px solid #292929;
  padding: 0px 12px;
  outline: none;
  caret-color: rgb(152, 88, 255);
  color: rgb(212, 212, 212);
  font-size: 20px;
  transition-duration: .2s;
}

#RegistroField:focus,
#RegistroField:valid {
  border: 2px solid rgb(152, 88, 255);
  transition-duration: .2s;
}

.close-btn {
  color: #b338ff;
  float: right;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
  color: #9500ff;
  text-decoration: none;
  cursor: pointer;
}



/* Ajustes para hacerlo responsive */
@media (max-width: 768px) {
  .modal-content {
    margin: 20% auto;
    max-width: 90%;
    width: 80%;
  }
  .modal h2{
    font-size: 20px;
    margin-bottom: 35px;
  }
}

@media (max-width: 480px) {
  .modal-content {
    margin: 30% auto;
    max-width: 95%;
    width: 95%;
  }
}
  
  h2{
    font-size: 50px;
    margin-bottom: 35px;
  }
  
  .close-btn {
    color: #888;
    float: right;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close-btn:hover,
  .close-btn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .container2 {
    text-align: center;
    margin-top: 50px;
  }
  
  /* Ajustes para hacerlo responsive */
  @media (max-width: 768px) {
    .modal-content {
      margin: 20% auto;
      max-width: 90%;
      width: 90%;
    }
    h2{
      font-size: 30px;
      margin-bottom: 35px;
    }
  }
  
  @media (max-width: 480px) {
    .modal-content {
      margin: 30% auto;
      max-width: 95%;
      width: 95%;
    }
  }
  
  
  .Btn {
    width: 150px;
    height: 50px;
    margin-top: 5%;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 13.5px;
    position: relative;
    overflow: hidden;
    border-radius: 40px;
    cursor: pointer;
    background: linear-gradient(-45deg, #6bc5f8, #cf59e6, #6bc5f8, #cf59e6);
    background-size: 1000% 1000%;
    animation: gradient 5s ease infinite;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.247);
    transition-duration: .1s;
  }
  
  /* Button's gradient animation */
  @keyframes gradient {
    0% {
      background-position: 0 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0 50%;
    }
  }
  
  /* Effect on Hover */
  .Btn::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 100%;
    left: -70px;
    top: 0;
    background-color: rgba(214, 199, 255, 0.329);
    filter: blur(10px);
    transition-duration: .3s;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
  }
  
  .Btn:hover::before {
    transform: translateX(200px);
    transition-duration: .3s;
  }
  
  /* Effect on click */
  .Btn:active {
    transform: translate(2px, 2px);
    transition-duration: .1s;
  }