@import url('../styles/values.css');

img.company {
    display: block;
    margin-left: 0;
    margin-right: 0;
    height: auto;
    /*1650*/
    width: auto;
    max-height: 50px;
    max-width: 50px;
}

footer a {
    z-index: 20;
    position: relative;
    font-size: var(--big-font);
    text-decoration: none;
    font-weight: bold;
    color: var(--semi-black);
}

footer a.footer:hover,
footer a.subfooter:hover {
    animation: ani 4s linear infinite;
}

footer a.footer:hover::before,
footer a.subfooter:hover::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background-color: var(--cyan);
    background-size: 400%;
    border-radius: 10px;
    transition: 0.05s;
    filter: blur(25px);
}

footer a.footer,
footer a.subfooter {
    font-size: var(--small-font);
    color: white;
}

footer a.subfooter {
    font-size: var(--smallest-font);
}

footer a.footer:active,
footer a.subfooter:active {
    color: var(--cyan);
}

footer {
    position: relative;
    display: block;
    left: 0;
    right: 0;
    margin-top: 6%;
    bottom: 0;
    height: 10%;
    width: auto;
    overflow: visible;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 1rem;
}

.page-footer-grid {
    display: inline-flex;
    gap: 1.5rem;
    margin: 0 auto;
    width: 100%;
    align-content: center;
    justify-content: space-evenly;
    align-items: stretch;
    justify-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.page-footer-grid > div {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-nav {
    display: flex;
    justify-content: flex-end;
    margin: 4px;
}

.footer-nav-list {
    display: flex;
    gap: .5rem;
    align-items: flex-start;
    flex-direction: column;
}

.footer-nav-item {
    font-size: var(--smallest-font);
    list-style: none;
}

div.company-footer {
    gap: 1.5rem;
    margin: 15px auto;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

div.company-footer #vertical-line {
    height: 35px;
    margin: 0;
    border: 0;
    border-left: 1px solid white;
}

@media only screen and (max-height: 350px) {
    .page-footer-grid {
        display: none;
    }
}

@media only screen and (max-height: 255px) {
    footer {
        display: none;
    }
}
