@import url('../styles/values.css');

img.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    max-width: 200px;
    max-height: 200px;
}

header {
    vertical-align: baseline;
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    height: 120px;
    width: auto;
    margin-left: 8px;
    margin-right: 8px;
    overflow: visible;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to top, transparent, #171717, #171717);
    background-position: center bottom;
}

#bar {
    z-index: 11;
    overflow: hidden;
    font-size: 100%;
    vertical-align: baseline;
    display: flex;
    height: 50%;
    width: 100%;
    overflow: visible;
    background: -webkit-linear-gradient(90deg, var(--pink), var(--yellow));
    background: -o-linear-gradient(90deg, var(--pink), var(--yellow));
    background: -moz-linear-gradient(90deg, var(--pink), var(--yellow));
    background: linear-gradient(90deg, var(--pink), var(--yellow));
    border-radius: 138px;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

#bar a {
    z-index: 20;
    position: relative;
    font-size: var(--big-font);
    text-decoration: none;
    font-weight: bold;
    color: var(--semi-black);
}

#bar a.left:hover,
#bar a.right:hover {
    animation: ani 4s linear infinite;
}

#bar a.left:hover::before,
#bar a.right:hover::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background-color: var(--cyan);
    background-size: 400%;
    border-radius: 10px;
    transition: 0.05s;
    filter: blur(25px);
}

#bar a.left:hover::before {
    background: var(--yellow)
}

#bar a.right:hover::before {
    background: var(--pink);
}

#bar a.left:active {
    color: var(--yellow);
}

#bar a.right:active {
    color: var(--pink);
}



input[type="image"] {
    width: auto;
    height: auto;
    max-width: 200%;
    /*506px;*/
    max-height: 200%;
    /*506px;*/
    border: none;
    color: black;
}



.usuario {
    position: relative;
    margin-left: auto;
}

.usuario img {
    display: block;
    width: 110px;
    height: auto;

}

.menu-usuario {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #fff;
    border: 1px solid #333;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.usuario:hover .menu-usuario {
    display: block;
}

.menu-usuario ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-usuario li {
    padding: 10px;
}

.menu-usuario li:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

.menu-usuario a {
    color: #333;
    text-decoration: none;
}


@media only screen and (max-height: 255px) {
    header {
        margin: 0;
        top: -40px
    }

    input[type="image"] {
        max-width: 100%;
        /*506px;*/
        max-height: 100%;
    }
}

@media only screen and (max-height: 180px) {
    img.logo {
        display: none;
    }
}

@media only screen and (max-width: 820px) {
    img.logo {
        display: none;
    }

    #bar {
        z-index: 11;
        overflow: hidden;
        font-size: 100%;
        vertical-align: baseline;
        display: flex;
        height: 50%;
        width: 100%;
        overflow: visible;
        background: -webkit-linear-gradient(90deg, var(--pink), var(--yellow));
        background: -o-linear-gradient(90deg, var(--pink), var(--yellow));
        background: -moz-linear-gradient(90deg, var(--pink), var(--yellow));
        background: linear-gradient(90deg, var(--pink), var(--yellow));
        border-radius: 0px;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
    }

    .search-box input[type="text"] {
        display: none;
    }
}
