@import url('../styles/values.css');
@import url('../styles/header.css');
@import url('../styles/footer.css');

* {
    font-family: MergeLight;
    padding: 0;
    margin: 0;
}


body {
    height: 100%;
    min-height: 100%;
    /*background: -webkit-linear-gradient(var(--semi-black), black);
    background: -o-linear-gradient(var(--semi-black), black);
    background: -moz-linear-gradient(var(--semi-black), black);
    background: linear-gradient(var(--semi-black), black);*/
    margin: 20px;
    position: relative;
    display: flex;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    flex-direction: column;
}

h1 {
    position: relative;
    font-size: var(--biggest-font);
    text-shadow: 0 0 15px var(--purple);
    color: white;
    text-align: left;
    letter-spacing: 0;
    left: 3%;
}

.gallery {
    position: relative;
    top: 10px;
    left: calc(3% + 10px);
    padding-right: 3%;
    display: inline-flex;
    width: 60%;
    height: auto;
    gap: 5px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.gallery .boxes {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row;
    grid-gap: 20px;
    grid-template-rows: auto auto;
    align-items: center;
    justify-content: center;
}

.box {
    grid-column: span 1;
    grid-row: span 1;
}

.big-box {
    grid-column: span 2;
    grid-row: span 2;
}
