@import url('../styles/values.css');
@import url('../styles/header.css');
@import url('../styles/footer.css');

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500%;
    max-width: 3000px;
}

.logo img {
  display: block;
  width: 150px;
  height: auto;
  margin-top: 21px;
}

.list { /*aka:ListaEmpleados,ListaEvento,ListaInventario*/
    width: 400px;
    padding: 30px;
    margin: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list h1{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: auto;
    text-align: center;
    color: white;
}

.list a {
    text-decoration: none;
    font-weight: bold;
}

.button {
    position: relative;
    width: 200px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid #34974d;
    background-color: #3aa856;
    margin-bottom: 7%;
}

.button,
.button__icon,
.button__text {
    transition: all 0.3s;
}

.button .button__text {
    transform: translateX(30px);
    color: #fff;
    font-weight: 600;
}

.button .button__icon {
    position: absolute;
    transform: translateX(160px);
    height: 100%;
    width: 39px;
    background-color: #34974d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button .svg {
    width: 50px;
    stroke: #fff;
}

.button:hover {
    background: #34974d;
}

.button:hover .button__text {
    color: transparent;
}

.button:hover .button__icon {
    width: 200px;
    transform: translateX(0);
}

.button:active .button__icon {
    background-color: #2e8644;
}

.button:active {
    border: 1px solid #2e8644;
}

table {
    border-collapse: collapse;
    width: 90vw;
    background-color: #212121;
}

th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
    color: white;
}

th {
    background-color: #f2f2f2;
    color: black;
}

@media only screen and (max-width: 768px) {
    .list {
        width: calc(100vh);
    }
    .button {
        width: 200px;
        height: 70px;
        max-width: 300px;
        font-size: 16px;
    }
}

/* Boton "editar" de la tabla  */
.botonEditar {
    padding: 0.5em 2em 0.5em 2.5em;
    font-size: 1em;
    border-radius: 15px;
    color: #fff6fb;
    text-shadow: -2px 2px 5px #FD3084;
    background-color: transparent;
    border: 2px solid #FEB1DE;
    box-shadow:
      0 0 0px 1px #F11271,
      0 0 10px 2px #FD3084,
      inset 0 0 0px 1px #F11271,
      inset 0 0 10px 2px #FD3084;
    transition: 100ms;
}

.botonEditar:hover {
    box-shadow:
      0 0 0px 1px #F11271,
      0 0 10px 2px #FD3084,
      inset 0 0 0px 1px #F11271,
      inset 0 0 30px 2px #FD3084;
    text-shadow: 0 0 10px #FD3084;
    transform: translateY(-5px);
}

.botonEditar:active {
    box-shadow:
      0 0 0px 1px #F11271,
      0 0 25px 2px #FD3084,
      inset 0 0 0px 1px #F11271,
      inset 0 0 30px 2px #FD3084;
    transform: translateY(1px);
}

.botonEliminar {
    padding: 0.5em 2em 0.5em 2.5em;
    font-size: 1em;
    border-radius: 15px;
    color: #fff6fb;
    text-shadow: -2px 2px 5px #ff3c2e;
    background-color: transparent;
    border: 2px solid #ffd1be;
    box-shadow:
      0 0 0px 1px #ec1000,
      0 0 10px 2px #ff4747,
      inset 0 0 0px 1px #ec1000,
      inset 0 0 10px 2px #ff4747;
    transition: 100ms;
}

.botonEliminar:hover {
    box-shadow:
      0 0 0px 1px #ec1000,
      0 0 10px 2px #ff4747,
      inset 0 0 0px 1px #ec1000,
      inset 0 0 30px 2px #ff4747;
    text-shadow: 0 0 10px #ff4747;
    transform: translateY(-5px);
}

.botonEliminar:active {
    box-shadow:
      0 0 0px 1px #ec1000,
      0 0 25px 2px #ff4747,
      inset 0 0 0px 1px #ec1000,
      inset 0 0 30px 2px #ff4747;
    transform: translateY(1px);
}

/* Boton "Cronograma" de la tabla  */
.botonCronograma {
    padding: 0.5em 2em 0.5em 2.5em;
    font-size: 1em;
    border-radius: 15px;
    color: #fff6fb;
    text-shadow: -2px 2px 5px #00ccaa;
    background-color: transparent;
    border: 2px solid #7dcabd;
    box-shadow:
      0 0 0px 1px #01d6b3,
      0 0 10px 2px #00a388,
      inset 0 0 0px 1px #01d6b3,
      inset 0 0 10px 2px #00a388;
    transition: 100ms;
}

.botonCronograma:hover {
    box-shadow:
      0 0 0px 1px #00a388,
      0 0 10px 2px #01d6b3,
      inset 0 0 0px 1px #00a388,
      inset 0 0 30px 2px #01d6b3;
    text-shadow: 0 0 10px #01d6b3;
    transform: translateY(-5px);
}

.botonCronograma:active {
    box-shadow: 0 0 0px 1px #00a388,
      0 0 25px 2px #01d6b3,
      inset 0 0 0px 1px #00a388,
      inset 0 0 30px 2px #01d6b3;
    transform: translateY(1px);
}

@media (max-width: 600px) {
    .botonEditar,
    .botonCronograma,
    .botonEliminar {
        display: block;
        height: 40px;
        width: 6rem;
        font-size: .6rem;
    }
}