@import url("../styles/values.css");
@import url("../styles/header.css");
@import url("../styles/footer.css");

* {
  padding: 0;
  margin: 0;
}

img.logo {
    display: none;
}

header {
    vertical-align: top;
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    height: 120px;
    width: auto;
    margin-left: 8px;
    margin-right: 8px;
    overflow: visible;
    align-items: center;
    justify-content: space-between;
    background: transparent ;
}

.container {
  display: flex;
  justify-content: center;
}

html {
  background: linear-gradient(to right, #d72483c0, #faec277f);
}

footer {
  position: relative;
  display: block;
  left: 0;
  right: 0;
  margin-top: 6%;
  bottom: 0;
  height: 10%;
  width: auto;
  overflow: visible;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1rem;
  background: linear-gradient(to bottom, #ffffff00, #000000, #000000, #000000);
}

/*_________________________________________________________*/
/*........................ LOGIN...........................*/
/*_________________________________________________________*/

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 2vw;
  margin-bottom: 10%;
  margin-top: 2%;
}

.wrapper {
  position: relative;
  width: 350px;
  height: 300px;
  background: rgba(255, 255, 255, 0.279);
  border-radius: 20px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.666);
  padding: 40px;
}

.form-wrapper {
  display: flex;
  align-items: center;
  width: 100px;
  height: auto;
  transition: 1s ease-in-out;
  margin-top: 3%;
}

.wrapper.active .form-wrapper.sign-in {
  transform: scale(0) translate(-300px, 500px);
}

.wrapper .form-wrapper.sign-up {
  position: absolute;
  top: 0;
  transform: scale(0) translate(200px, -500px);
}

.wrapper.active .form-wrapper.sign-up {
  transform: scale(1) translate(0, 0);
}

h3 {
  font-size: 30px;
  color: #fff;
  text-align: center;
}

.input-group {
  position: relative;
  margin: 30px 0;
  border-bottom: 2px solid #fff;
}

.input-group label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 16px;
  color: white;
  pointer-events: none;
  transition: 0.4s;
}

.input-group input {
  width: 320px;
  height: 40px;
  font-size: 16px;
  color: white;
  padding: 0 5px;
  background: transparent;
  border: none;
  outline: none;
}

.input-group input:focus ~ label,
.input-group input:valid ~ label {
  top: -5px;
}

.remember {
  margin: -5px 0 15px 5px;
}

.remember {
  color: #fff;
  font-size: 14px;
}

.remember label input {
  accent-color: #f4157e;
}

button {
  position: relative;
  width: 100%;
  height: 40px;
  background: #f4157e;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  border-radius: 30px;
  border: none;
  outline: none;
}

.signUp-link {
  font-size: 15px;
  text-align: center;
  margin: 15px 0;
}

.signUp-link p {
  color: #fff;
}

.signUp-link p a {
  color: #f4157e;
  text-decoration: none;
}

.signUp-link p a:hover {
  text-decoration: underline;
}

/* Media query para pantallas pequeñas */
@media (max-width: 600px) {
  .container,
  .wrapper {
    position: relative;
    width: 100%;
    height: auto;
    background: none;
    border-radius: none;
    box-shadow: none;
    padding: 40px;
  }

  .contenedor {
    padding: 0px;
  }
}
