@import url('../styles/values.css');
@import url('../styles/header.css');
@import url('../styles/footer.css');


nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 500%;
  max-width: 3000px;
  position: fixed;

}

.logo img {
	display: block;
	width: 150px;
	height: auto;
  margin-top: 21px;
  position: fixed;
}



#mapContainer {
  position: relative;
  width: 70%;
  height: 32vw;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

@media only screen and (max-width: 820px) {
  #mapContainer {
    position: relative;
    width: 90%;
    height: 60vw;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
  }
}
  