@import url('../styles/values.css');
@import url('../styles/header.css');
@import url('../styles/footer.css');

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500%;
    max-width: 3000px;
}

.body {
    display: flex;
}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    background: transparent;
    border-radius: 10px;
    margin-top: 2%;
}

.card {
    position: relative;
    background: #1e1e1e;
    width: 350px;
    height: 250px;
    border-radius: 10px;
    padding: 2rem;
    color: #aaa;
    box-shadow: .2rem .2rem 1rem rgb(98, 0, 255) , 0 0 1rem rgb(250, 237, 39);
    overflow: hidden;
}

.card__image-container {
    margin: -2rem -2rem 1rem -2rem;
}

.card__line {
    opacity: 0;
    animation: LineFadeIn .8s .8s forwards ease-in;
}

.card__image {
    opacity: 0;
    animation: ImageFadeIn .8s 1.4s forwards;
}

.card__title {
    color: white;
    margin-top: 35px;
    margin-bottom: 10px;
    font-weight: 800;
    letter-spacing: 0.01em;
}

.card__content {
    margin-top: -1rem;
    opacity: 0;
    animation: ContentFadeIn .8s 1.6s forwards;
}

.card__svg {
    position: absolute;
    left: 0;
    top: 115px;
}

@keyframes LineFadeIn {
    0% {
        opacity: 0;
        d: path("M 0 300 Q 0 300 0 300 Q 0 300 0 300 C 0 300 0 300 0 300 Q 0 300 0 300 ");
        stroke: #fff;
    }

    50% {
        opacity: 1;
        d: path("M 0 300 Q 50 300 100 300 Q 250 300 350 300 C 350 300 500 300 650 300 Q 750 300 800 300");
        stroke: #888BFF;
    }

    100% {
        opacity: 1;
        d: path("M -2 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 802 400");
        stroke: #545581;
    }
}

@keyframes ContentFadeIn {
    0% {
        transform: translateY(-1rem);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes ImageFadeIn {
    0% {
        transform: translate(-.5rem, -.5rem) scale(1.05);
        opacity: 0;
        filter: blur(2px);
    }

    50% {
        opacity: 1;
        filter: blur(2px);
    }

    100% {
        transform: translateY(0) scale(1.0);
        opacity: 1;
        filter: blur(0);
    }
}

@media (max-width: 768px) {
    .card {
        position: relative;
        background: #1e1e1e;
        width: 200px;
        height: 200px;
        border-radius: 10px;
        padding: 2rem;
        color: #aaa;
        box-shadow: .2rem .2rem 1rem rgb(98, 0, 255) , 0 0 1rem rgb(250, 237, 39);
        overflow: hidden;
    }
}

h1,
h2,
p {
    margin: 0;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 18px;
}

/***********************************
   *
   * BOTONES DE REDIRECCION A EDITS
   *
   ***********************************/

.container2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.button {
    border: 0 solid;
    cursor: pointer;
    font-family: system-ui;
    font-size: 1.5vw;
    background: linear-gradient(90deg, #7f2ccb, #d72483);
    border-radius: 999px;
    padding: 2rem 9rem;
    position: relative;
    color: #fff;
    margin: 1rem;
    flex: 1 0 auto;
    max-width: 200px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-height: 3.6em;
}

.button a {
    display: flex;
    width: 100%;
    height: 100%;
    color: white;
    text-decoration: none;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.button span {
    background: #171717;
    border-radius: 999px;
    color: #fff;
    display: grid;
    inset: 3px;
    place-items: center;
    position: absolute;
    transition: background 0.3s;
}

.button:hover span {
    background: none;
}

@media (max-width: 768px) {
    .button {
        padding: 2.5rem 9rem;
        font-size: 3vh;
        max-height: initial;
    }
}

/* Estilos para la ventana modal */
.modal {
    display: none;
    position: fixed;
    z-index: 30;
    left: 0;
    top: 0;
    width: 100%;
    height: 200%;
    font-size: 30px;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.807);
}

.modal-content {
    background-color:#232323 ;
    margin: 10% auto;
    padding: 20px;
    max-width: 80%;
    width: 500px;
    border-radius: 15px;
    color: #fff;
    box-shadow: 0px 5px 20px rgb(64, 64, 64);
}

.modal h2{
    font-size: 30px;
    margin-bottom: 35px;
}

.IDlabel {
    color: white;
    font-size: 20px;
    padding: 5px 5px;
}

#IDField {
    width: 200px;
    height: 40px;
    background-color: #2f2f2f;
    border-radius: 30px;
    border: 2px solid #292929;
    padding: 0px 12px;
    outline: none;
    caret-color: rgb(152, 88, 255);
    color: rgb(212, 212, 212);
    font-size: 20px;
    transition-duration: .2s;
}

#IDField:focus,
#IDField:valid {
    border: 2px solid rgb(152, 88, 255);
    transition-duration: .2s;
}

.close-btn {
    color: #b338ff;
    float: right;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
    color: #9500ff;
    text-decoration: none;
    cursor: pointer;
}

.container2 {
    text-align: center;
    margin-top: 50px;
}

/* Ajustes para hacerlo responsive */
@media (max-width: 768px) {
    .modal-content {
        margin: 20% auto;
        max-width: 90%;
        width: 80%;
    }
    .modal h2{
        font-size: 20px;
        margin-bottom: 35px;
    }
}

@media (max-width: 480px) {
    .modal-content {
        margin: 30% auto;
        max-width: 95%;
        width: 95%;
    }
}


.Btn {
    width: 150px;
    height: 50px;
    margin-top: 5%;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 13.5px;
    position: relative;
    overflow: hidden;
    border-radius: 40px;
    cursor: pointer;
    background: linear-gradient(-45deg, #00ccaa, #7f2ccb, #6bc5f8, #7f2ccb);
    background-size: 1000% 1000%;
    animation: gradient 5s ease infinite;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.247);
    transition-duration: .1s;
}

/* Button's gradient animation */
@keyframes gradient {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

/* Effect on Hover */
.Btn::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 100%;
    left: -70px;
    top: 0;
    background-color: rgba(214, 199, 255, 0.329);
    filter: blur(10px);
    transition-duration: .3s;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.Btn:hover::before {
    transform: translateX(200px);
    transition-duration: .3s;
}

/* Effect on click */
.Btn:active {
    transform: translate(2px, 2px);
    transition-duration: .1s;
}

/* Dropdown */
.container3 {
    margin: 2% auto;
    width: 300px;
    text-align: center;
}

.container3 > .dropdown {
    margin: 0 20px;
    vertical-align: top;
}

.dropdown {
    display: inline-block;
    position: relative;
    overflow: hidden;
    height: 28px;
    width: 150px;
    background: #f2f2f2;
    border: 1px solid;
    border-color: white #f7f7f7 whitesmoke;
    border-radius: 3px;
    background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
    background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
    background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.06));
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
}

.dropdown:before, .dropdown:after {
    content: '';
    position: absolute;
    z-index: 32;
    top: 15px;
    right: 10px;
    width: 0;
    height: 0;
    border: 5px dashed;
    border-color: #888888 transparent;
    pointer-events: none;
}

.dropdown:before {
    border-bottom-style: solid;
    border-top: none;
}

.dropdown:after {
    margin-top: 7px;
    border-top-style: solid;
    border-bottom: none;
}

.evento {
    position: relative;
    width: 130%;
    margin: 0;
    padding: 6px 8px 6px 10px;
    height: 28px;
    line-height: 14px;
    font-size: 12px;
    color: #62717a;
    text-shadow: 0 1px white;
    background: #f2f2f2; /* Fallback for IE 8 */
    background: rgba(0, 0, 0, 0) !important; /* "transparent" doesn't work with Opera */
    border: 0;
    border-radius: 0;
    appearance: none;
}

.evento:focus {
    z-index: 3;
    width: 100%;
    color: #394349;
    outline: 2px solid #49aff2;
    outline: 2px solid -webkit-focus-ring-color;
    outline-offset: -2px;
}

.evento > option {
    margin: 3px;
    padding: 6px 8px;
    text-shadow: none;
    background: #f2f2f2;
    border-radius: 3px;
    cursor: pointer;
}

/* Fix for IE 8 putting the arrows behind the select element. */
.lt-ie9 .dropdown {
    z-index: 1;
}

.lt-ie9 .evento {
    z-index: -1;
}

.lt-ie9 .evento:focus {
    z-index: 3;
}

/* Dirty fix for Firefox adding padding where it shouldn't. */

@-moz-document url-prefix() {
    .evento {
        padding-left: 6px;
    }
}

.dropdown-dark {
    background: #444;
    border-color: #111111 #0a0a0a black;
    background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
    background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
    background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.4));
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
}

.dropdown-dark:before {
    border-bottom-color: #aaa;
}

.dropdown-dark:after {
    border-top-color: #aaa;
}

.dropdown-dark .evento {
    color: #aaa;
    text-shadow: 0 1px black;
    background: #444;  /* Fallback for IE 8 */
}

.dropdown-dark .evento:focus {
    color: #ccc;
}

.dropdown-dark .evento > option {
    background: #444;
    text-shadow: 0 1px rgba(0, 0, 0, 0.4);
}
