@import url('../styles/values.css');
@import url('../styles/header.css');
@import url('../styles/footer.css');

* {
    font-family: MergeLight;
    padding: 0;
    margin: 0;
    scroll-margin-top: 120px;
}

html {
    /*height: 200%;
    min-height: 200%; /*200 si footer*/
}

body {
    height: 100%;
    min-height: 100%;
    /*background: -webkit-linear-gradient(var(--semi-black), black);
    background: -o-linear-gradient(var(--semi-black), black);
    background: -moz-linear-gradient(var(--semi-black), black);
    background: linear-gradient(var(--semi-black), black);*/
    margin: 20px;
    position: relative;
    display: flex;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    flex-direction: column;
}
