:root {
    /* Colores */
    --semi-black: #232323;
    --yellow: #faed27;
    --purple: #7f2ccb;
    --pink: #d72483;
    --cyan: #00ccaa;

    /* Tamaños */
    --biggest-font: 32px;
    --big-font: 28px;
    --normal-font: 24px;
    --small-font: 22px;
    --smallest-font: 16px;
    --tiny-font:14px;
}


*{
    padding: 0;
    margin: 0;
}

html{
  background-color: #171717;
}

.image-zoom {
    position: relative;
    overflow: hidden;
    padding: 20px;/*margin: 20px;*/
    object-fit: cover;
    align-items: center;
    justify-content: center;
    max-width: calc(100% - 40px);
    max-height: calc(100% - 40px);
    width: 100%;
    height: 100%;
}

.image-zoom input {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}
.image-zoom:hover input {
    transform: scale(1.2);
}
.image-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 14px;
    visibility: hidden;
}
.image-zoom:hover .image-caption {
    visibility: visible;
}
